
* {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    box-shadow: 20px;
}

.head-space {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: cursive;
    background-color: rgb(109, 136, 163);
    margin-top: 0px;
    color:rgb(255, 255, 254)
    
}

.navi {
    top: 0px;
    position:relative;
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    float: right;
}

.navi {
    display: inline;
    color: rgb(64, 157, 157);
}

.fancy {
    
    font-size: 60px;
    color:black
    
}

body {
    background-color: rgb(79, 136, 222);
}

.tree-beard {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("pictures/pretty-green.jpg");
    background-size: cover;
    background-position: center;
}