
* {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    box-shadow: 20px;
}

.head-space {
    
    position: relative;
    
    
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    margin-top: 0px;
    color:white;
    width: 100%;
    justify-content: left;

   
     
    
}

.lol {
    position: fixed;
    right: 30%;
    top: 0;
    border-top: solid 3px #151413;
    max-width: 50px;
}

.navi {
    font-family: apple chancery, cursive;
    top: 0px;
    position:relative;
    border: 3px solid black;
    display: inline;
    margin-left: 25px;
    list-style-type: katakana;
    color: rgb(61, 196, 72);
    
    float: right;
    background-color:rgb(184, 193, 184);
}

.fancy {
    
    
    color:black
    
}

body {
    
    background-color: #7fca38;
}

.tree-beard {
    height: 500px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 25px;
    background-image: url("picture/pretty-green.jpg");
    background-size: cover;
    background-position: center;
}
main {
    
}
.info-dump {
    font-family: bradley hand, cursive;
    border: solid 5px black;
    background: linear-gradient(rgb(171, 179, 171), rgb(19, 98, 1));
    display: flex;
    flex-wrap: wrap;
}

#about-me {
    list-style-type: none;
    display: inline;
    justify-content: space-between;
    border: solid 3px rgb(4, 193, 36);
    padding: 5px;
}

#projects {
    border: solid 3px rgb(4, 193, 36);
    padding: 5px;
}

#resume {
    border: solid 3px rgb(4, 193, 36);
    padding: 5px;
    color: aliceblue;
}

.special {
    width: 100%;
}

#contact {
    border: solid 3px rgb(4, 193, 36);
    padding: 5px;
    color: aliceblue;
    justify-content: center;
}

.riley {
    max-width: 100px;
   
}

.stumpy {
    height: 300px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 25px;
    background-image: url("picture/stump.JPG");
    background-size: cover;
    background-position: center;
}

.footer {
    font-size: 18px;
    padding: 30px;
    clear: both;
    font-family: Trattatello, fantasy;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border: 5px solid #151413;
    border-radius: 20px;
    background: linear-gradient(rgb(28, 170, 28), rgb(17, 79, 3));
    color: rgb(206, 222, 210);
}

.card p {
    text-align: center;
}

.card img {
    width: 100%;
}
.card {
    flex: 1 0 200px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  @media screen and (min-width: 1025px) {
    .card {
      width: 25%;
    }
   
    header {
      background: #277827;
    }
  }
  @media screen and (max-width: 1024px) {
    .card {
      width: 25%;
    }
   
    header {
      background: #277827;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .card {
      width: 50%;
    }
    
    header {
      background: #4cd675;
    }
  }
  @media screen and (max-width: 480px) {
    .card {
      width: 100%;
      justify-content: center;
    }
    .riley {
        max-width: 50%;
        max-height: 25%;
       
    }
    header {
      background: #44ed47;
    }
  }